<ul>
  <%= for asset <- @assets do %>
    <li><%= asset.asset_id %><br /><%= asset.name %></li>
  <% end %>
</ul>

<p class="text-center">
  <a class="btn btn-primary" href="/assets/new">New Asset</a>
</p>
